!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => "UTF-8"}
    %title Meetup Photo Exporter
    = stylesheet :meetstrap
    = stylesheet :sandbox
    = stylesheet :zocial
    = stylesheet :application
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  /[if lt IE 7 ] <body class="ie6">
  /[if IE 7 ] <body class="ie7">
  /[if IE 8 ] <body class="ie8">
  /[if IE 9 ] <body class="ie9">
  / [if (gt IE 9)|!(IE)]><!
  %body
    / <![endif]
    .header
      .wrap

    .wrap.line
      .doc-box.doc-content
        = yield

    = script :lightbox
    = script :application